body {  
    width: 250px;
    height: auto;
    text-align: center;
    padding: 5px 5px 10px 5px;	
	background-color: #F0F0F0;
	border: 1px solid #b4b4b4;	
}

header, footer {
	width: 90%;
}

img {
    width: 200px;
    max-width: 200px !important;
}

button {
    margin: 5px auto 10px auto !important;  
}